@import url('https://fonts.googleapis.com/css?family=Baloo');
* {
  box-sizing: border-box;
}

body {
  text-align: center;
  /* background-image: url(https://www.xmple.com/wallpaper/blue-pink-gradient-linear-1920x1080-c2-ff69b4-87ceeb-a-15-f-14.svg);*/
  background-image: url(https://wallpaperaccess.com/full/729437.jpg);
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  font-family: 'Baloo', cursive;
  color: #000;
}

.form_holder {
  background-color: #fff;
  opacity: 0.9;
  width: 22vw;
  border-radius: 3px;
  padding: 5vh;
  margin: auto;
  margin-top: 20vh;
}

.login_form input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  margin: 2px;
}

.signup_form input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  margin: 2px;
}

.select {
  font-family: 'Baloo', cursive;
}

.home {
  height: 80vh;
  width: 90vw;
  background-color: #fff;
  position: relative;
  border-radius: 4px;
  margin: auto;
  margin-top: 9vh;
  opacity: 0.9;
  border: 1px #333;
  box-shadow: 0 6px 12px 2px rgba(0, 0, 0, 0.4);
}

.chat_app_container {
  display: flex;
  justify-content: space-between;
  height: 78.5%;
}

.header {
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding: 10px;
}

.title {
  font-family: 'Macondo Swash Caps', cursive;
  font-size: 80px;
  margin: 5px;
  width: 100px;
  align-items: center;
  flex: 1 1 auto;
  list-style: none;
  margin: 0;
  padding: 0;
}

.profile_div {
  display: flex;
  justify-content: flex-start;
  font-size: 20px;
  font-style: inherit;
  text-decoration: none;
  /* width: 30%; */
  float: left;
}

.loginForm {
  max-width: 30px;
  align-content: center;
  display: inline;
}

.drop_down {
  width: 200px;
  font-size: 10px;
  height: 42px;
}

.profile_pic_container {
  position: relative;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: flex;
  overflow: hidden;
  margin-left: 5vw;
}

.profile_picture {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  height: 100%;
}

.user_name {
  float: left;
  margin-top: 6.5vh;
}

.flag {
  position: relative;
  font-size: 30px;
  margin-right: 15px;
}

button {
  display: block;
  border-color: #000;
  border: 2px;
  cursor: pointer;
  background-color: #a466d8;
  font-family: 'Baloo', cursive;
  font-size: 20px;
  border-radius: 15px;
  outline: none;
}

button:hover {
  background-color: #fff;
}

.button {
  cursor: pointer;
  background-color: #a466d8;
  font-family: 'Baloo', cursive;
  font-size: 20px;
  margin: 20px;
  border-radius: 15px;
}

.button:hover {
  background-color: #fff;
}

.fa-arrow-left {
  cursor: pointer;
  margin-left: 2vw;
  margin-top: 3vh;
}

.logout {
  float: right;
}

.title {
  text-align: center;
}

.chat_app {
  display: flex;
  width: 100%;
  height: 100%;
}

.new_chat_btn {
  display: block;
}

.chat_container {
  width: 75%;
  background-color: #fff;
  border-radius: 10px;
  height: 93%;
}

.chat_header {
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* align-content: left; */
  /* position: relative; */
  top: 0;
  background-color: #ecd4ff;
  border-radius: 2px;
  border: 1px grey;
}

.message_container {
  overflow: scroll;
  height: 41.6vh;
}

.chat_bar_container {
  width: 100%;
  height: calc(100% - 60px);
  overflow: scroll;
}

.chat_bar {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
  width: 100%;
  cursor: pointer;
  background-color: #a466d8;
  font-size: 15px;
  height: 5vh;
  font-family: 'baloo', cursive;
  border: 1px solid transparent;
  padding: 0 50px;
  position: relative;
}

.chat_bar:nth-child(odd) {
  background-color: #ecd4ff;
}

.chat_bar:hover {
  background-color: #fff;
}

div.chat_bar.selected {
  background-color: #ec6cec;
  border: 1px solid white;
}

.chat_bar_username {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
}

.chat_bar_photo_holder {
  top: 50%;
  left: 20px;
  transform: translate(0, -50%);
  height: 30px;
  position: absolute;
  width: 30px;
  border-radius: 50%;
  display: flex;
  overflow: hidden;
  align-items: center;
}

.chat_bar_photo {
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.message_list {
  padding: 0;
}

.message {
  margin: 5px;
  max-width: 30vw;
  border-radius: 10px;
  padding: 3px 6px;
  box-shadow: 3px 3px 2px grey;
  height: auto;
}

.sender_message {
  align-self: right;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.sender_message .message {
  background-color: #a466d8;
}

.sender_name {
  font-size: 12px;
  padding: 0;
  justify-content: flex-start;
  width: 2px;
  overflow: visible;
  height: 2px;
}

.receiver_message .message {
  background-color: #ecd4ff;
}

.receiver_message {
  list-style: none;
  align-self: left;
  display: flex;
  justify-content: flex-start;
}

.all_chats_container {
  opacity: 0.9;
  height: 100%;
}

.left_column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25%;
}

.message_input {
  position: absolute;
  padding: 0;
  bottom: 0;
  right: 0;
  width: 75%;
  height: 80px;
  align-content: flex-end;
  background-color: #a466d8;
}

.message_input form {
  position: relative;
  bottom: 0;
  right: 6vw;
}

.message_input input {
  width: 20vw;
  height: 30px;
}

.full_profile_picture {
  height: 20vh;
  border-radius: 10px;
}

.hidden {
  display: none;
}

.fa-arrow-left {
  float: left;
  height: 30px;
}

.profile {
  display:flex;
}

.profile_column {
  width: 40%;
  background-color: #ecd4ff;
  border-right: 20px grey;
  background-image: url(https://www.xmple.com/wallpaper/blue-pink-gradient-linear-1920x1080-c2-ff69b4-87ceeb-a-15-f-14.svg);
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.settings_column {
  width: 60%;
  padding-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.settings_column button {
  width: 20vw;
}

.edit_content {
  margin-top: 10%;
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-family: 'baloo', cursive;
}

h2 {
  font-family: 'baloo', cursive;
}
